<div class="login-container">
  <h1>Register</h1>

<fieldset class="login-paper">
     <legend class="paper-text">Register</legend>
     <div class="login-container">
        <form method="post" action="./user/register" class="login-form">
            <fieldset class="form-paper">
                <legend class="form-text">Full Name</legend>
                <input type="text" name="fullName" placeholder="Enter Full Name" required class="login-input">
            </fieldset>
            <fieldset class="form-paper">
                <legend class="form-text">Username</legend>
                <input type="text" name="username" placeholder="Enter Username" required class="login-input">
            </fieldset>
            <fieldset class="form-paper">
                <legend class="form-text">Password</legend>
                <input type="password" name="password" placeholder="Enter Password" class="login-input" required>
            </fieldset>
            <fieldset class="form-paper">
                <legend class="form-text">Repeat Password</legend>
                <input type="password" name="passwordRepeat" placeholder="Enter Your Password Again" class="login-input" required>
            </fieldset>
                <input class="login-btn form-paper" type="submit" value="Register">
        </form>
    </div>
</fieldset>
</div>